* {
  margin: 0 auto;
  padding: 0;
}

header {
  width: 100%;
  height: 15vh;
  position: relative;
}

.title {
  width: 20%;
  float: left;
  position: absolute;
  left: 5%;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.areaTitle {
  width: 100%;
  position: absolute;
  left: 5%;
}

main {
  width: 100%;
  position: relative;
}

ul {
  width: 60%;
  justify-content: center;
  position: relative;
}

.hidden {
  display: none;
}

